<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signable</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/x-icon">

    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils@0.1/control_utils.css" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils@0.1/camera_utils.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils@0.1/control_utils.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils@0.2/drawing_utils.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/holistic@0.1/holistic.js" crossorigin="anonymous"></script>
</head>
<body>
    <canvas id="neuronCanvas"></canvas>
    <div id="video-container">
        <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo" alt="Logo">
        <div id="signable">Signable</div>
        <div id="video">
            <video class="input_video" style="display: none;"></video>
            <canvas class="output" width="600px" height="600px"></canvas>
            <div class="loading"><div class="spinner"></div></div>
            <div style="visibility: hidden;" class="control"></div>
        </div>
        <div class="slider">
            <label for="landmarks-toggle">Landmarks</label>
            <input type="checkbox" id="landmarks-toggle" checked>
        </div>
        <div id="sentence">Sentence will appear here...</div>
    </div>
    <script src="{{ url_for('static', filename='js/neurons.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
